# Virtual environment
.venv/

# Dataset
Reviews.csv

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml

# Environment / secrets
.env
.env.*

# Python build files
build/
dist/
*.egg-info/

# Test/cache files
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db